doctype 5
html
  head
    meta(name='viewport', content='width=device-width', 'initial-scale'=1)
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/libs/spectrum/spectrum.css');
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/libs/spectrum/spectrum.js')
    script(type='text/javascript', src='/javascripts/client.js')
  body
    block content